[submodule "src/vr/third_party/OpenXRProvider"]
	path = src/vr/third_party/OpenXRProvider
	url = https://github.com/1runeberg/OpenXRProvider.git
[submodule "src/hand_urdf_description"]
	path = src/hand_urdf_description
	url = https://github.com/Hokyun-Lee/hand_urdf_discription.git
[submodule "src/vr/third_party/OpenXRProvider2"]
	path = src/vr/third_party/OpenXRProvider2
	url = https://github.com/1runeberg/OpenXRProvider_v2.git
