[submodule "hand_urdf_discription"]
	path = src/hand_urdf_discription
	url = https://github.com/Hokyun-Lee/hand_urdf_discription.git

[submodule "src/vr/third_party/OpenXRProvider"]
	path = src/vr/third_party/OpenXRProvider
	url = https://github.com/1runeberg/OpenXRProvider.git
